{% extends "base.html" %}

{% load static %}

{% block title %} Accesorios {% endblock %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1>Accesorios en inventario</h1>

    <div class="col-md12 search">
      <form method="get">
        <div id="ropa_rearch">
          <div class="input-group">
            <input type="text" class="form-control mr-sm-2" placeholder="Buscar..." name="buscar_accesorios"
              value="{{ request.GET.buscar_accesorios }}">
            <span class="input-group-list">
              <i class="icon incon-search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              </i>
            </span>
          </div>
        </div>
      </form>
    </div>
    
    <form id="formulario_checkbox" method="post">{% csrf_token %}
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" type="submit" form="formulario_checkbox">Exportar a
          correo</button>
      </div>
    </div>
  </form>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm table-bordered" id="search">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectall"></th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        {% if accesorios %}
        {% for accesorio in accesorios %}
        <tr>
          <td><input type="checkbox" class="case"
            name="accesorios_selected" id="accesorio_{{ accesorio.id }}" form="formulario_checkbox"
            value ="{{ accesorio.nombre }}"></td>
          <td>{{ accesorio.nombre}}</td>
          <td>{{ accesorio.cantidad}}</td>
          <td>{{ accesorio.precio}}</td>
        </tr>

        {% endfor %}

        {% else %}
        <h1>No existe ningun artículo con las características buscadas</h1>

        {% endif %}

      </tbody>
    </table>
  </div>
</main>
{% endblock %}