{% extends "base.html" %}

{% load static %}

{% block title %} Ropa {% endblock %}

{% block content %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1>Lista de ropa en inventario</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Exportar a correo</button>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tipo</th>
                  <th>Color</th>
                  <th>Talla</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>

                {% if ropas %}

                {% for ropa in ropas %}
                <tr>
                  <td>{{ropa.id}}</td>
                  <td>{{ropa.tipo}}</td>
                  <td>{{ropa.color}}</td>
                  <td>{{ropa.talla}}</td>
                  <td>{{ropa.cantidad}}</td>
                  <td>{{ropa.precio}}</td>
                </tr>

                  {% endfor %}

                  {% else %}
                  <h1>No existen Ropas en la base de datos aun</h1>
                
                
                {% endif %}
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div> 
    {% endblock %}